<div class="card rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p class="font-weight-bold">Goals</p>
      </div>
      <div class="col-md-6 text-primary">
        <p class="float-right btn btn-sm btn-light">Export</p>
      </div>
    </div>
    <hr>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Goal</th>
          <th scope="col">Status</th>
          <th scope="col">Progress</th>
          <th scope="col">Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Update the API</th>
          <td>● In progress</td>
          <td>45%</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th>Release v1.2-Beta</th>
          <td>● In progress</td>
          <td> 20%</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th>GDPR Compliance</th>
          <td>● Completed</td>
          <td> 100%</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th>Update the API</th>
          <td>● In progress</td>
          <td>45%</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
