<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <p>Value</p>
        <div class="row">
          <div class="col-md-8">
            <h5>$24,500</h5>
          </div>
          <div class="col-md-4"><i class="fab fa-btc"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <p>Total Hours</p>
        <div class="row">
          <div class="col-md-8">
            <h5>763.5</h5>
          </div>
          <div class="col-md-4"><i class="fas fa-shopping-bag"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <p>Exit%</p>
        <div class="row">
            <div class="col-md-8">
              <h5>35.5%</h5>
            </div>
            <div class="col-md-4"><i class="fas fa-chart-line"></i></div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <p>Avg Time</p>
        <div class="row">
            <div class="col-md-8">
              <h5>2:37</h5>
            </div>
            <div class="col-md-4"><i class="far fa-clock"></i></div>
          </div>
      </div>
    </div>
  </div>
</div>
