<div class="card rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p class="font-weight-bold">Projects</p>
      </div>
      <div class="col-md-6 text-primary">
        <p class="float-right">View all</p>
      </div>
    </div>
    <hr>
    <div class="row ml-4 mr-4">
      <div class="col-md-4"><img src="../../favicon.ico" alt=""></div>
      <div class="col-md-8">
        <p>Homepage Redesign</p>
      </div>
    </div>
    <div class="row ml-4 mr-4 pt-3">
      <div class="col-md-4"><img src="../../favicon.ico" alt=""></div>
      <div class="col-md-8">
        <p>Travels & Time</p>
      </div>
    </div>
    <div class="row ml-4 mr-4 pt-3">
      <div class="col-md-4"><img src="../../favicon.ico" alt=""></div>
      <div class="col-md-8">
        <p>Safari Exploration</p>
      </div>
    </div>
    <div class="row ml-4 mr-4 pt-3">
      <div class="col-md-4"><img src="../../favicon.ico" alt=""></div>
      <div class="col-md-8">
        <p>Personal Site</p>
      </div>
    </div>
    <div class="row ml-4 mr-4 pt-3">
      <div class="col-md-4"><img src="../../favicon.ico" alt=""></div>
      <div class="col-md-8">
        <p>Safari Exploration</p>
      </div>
    </div>

  </div>
