<div class="card rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p class="font-weight-bold">Scratchpad Checklist</p>
      </div>
      <div class="col-md-6">
        <p class="float-right btn btn-secondary btn-sm rounded">23 Archieved</p>
      </div>
    </div>
    <hr>
    <div class="p-2">
      <input type="checkbox">
      <span class="pl-2">Delete the old mess in functions files.</span>
    </div>
    <div class="p-2">
      <input type="checkbox">
      <span class="pl-2">Refactor the core social sharing modules.</span>
    </div>
    <div class="p-2">
      <input type="checkbox">
      <span class="pl-2">Create the release notes for the new pages so customers get psyched.</span>
    </div>
    <div class="p-2">
      <input type="checkbox">
      <span class="pl-2">Send Dianna those meeting notes.</span>
    </div>
    <div class="p-2">
      <input type="checkbox">
      <span class="pl-2">Share the documentation for the new unified API.</span>
    </div>
    <div class="p-2">
      <input type="checkbox">
      <span class="pl-2">Delete the old mess in functions files.</span>
    </div>
    <div class="p-2">
      <input type="checkbox" checked>
      <span class="pl-2" style="text-decoration: line-through;">Clean up the Figma file with all of the avatars,
        buttons,
        and other
        components.</span>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>Create task</p>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary float-right">Add</button>
      </div>
    </div>

  </div>
